body {
	
	background-color: #fff3e3;
}


h2 { 
color: #dfbe92;
font-family: 'Helvetica Neue', sans-serif;
font-size: 30px; 
font-weight: bold;
line-height: 32px;
margin: 0 0 45px;
text-align: center;
-webkit-text-stroke: 1px black;
}


h3{
color: #dfbe92;
font-family: 'Helvetica Neue', sans-serif;	
font-size: 22px;
font-weight: bold;
text-align: center;
-webkit-text-stroke: 0.75px black;
top: 32px;
}

p {
color: #685206;
font-family: 'Helvetica Neue', sans-serif;
font-size: 14px;
line-height: 24px; 
width: 750px;
text-align: center;
margin:auto;
}

ul {
color: #685206;
font-family: 'Helvetica Neue', sans-serif;
font-size: 14px; 
line-height: 24px;
margin: 0 0 24px;
text-align: center;
}

blockquote {
background-image: url(https://media.giphy.com/media/XreQmk7ETCak0/giphy.gif); 
background-position: 900 10%;
background-repeat: no-repeat no-repeat;
padding: 150px 0;
font-family: Comic Sans MS;
text-align: center;
}